---
---

@import "../_scss/vendor/bourbon/dist/bourbon";

$font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$navbar-height: 100px;

// Colors
$sky: #91C2ED;

// Core variables and mixins
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/variables";
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/normalize";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/print";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/scaffolding";
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/type";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/code";
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/grid";
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/tables";
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/forms";
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/buttons";

// Components
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/component-animations";
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/dropdowns";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/button-groups";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/input-groups";
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/navs";
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/navbar";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/breadcrumbs";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/pagination";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/pager";
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/labels";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/badges";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/jumbotron";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/thumbnails";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/alerts";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/progress-bars";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/media";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/list-group";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/panels";
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/responsive-embed";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/wells";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/modals";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/tooltip";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/popovers";
// @import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/utilities";
@import "../_scss/vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/responsive-utilities";

html {
    overflow-y: scroll;
    background: $sky url('../img/bg.jpg') no-repeat center center fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: transparent;
}

%transparentBackground {
    background: rgba(255,255,255,0.9);
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 20px;
    padding-right: 20px;
}

#wrapper {
    border: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 6px;
    margin-top: 22px;
    margin-bottom: 22px;
    > :first-child {
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        border-bottom: 1px solid rgba(0,0,0,0.25);
    }
    > :last-child {
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top: 1px solid rgba(0,0,0,0.25);
    }
}

@import "header";
@import "main";
@import "mailchimp";
@import "footer";
