---
---

@import "vendor/bourbon/dist/bourbon";

$font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$navbar-height: 100px;

// Colors
$sky: #91C2ED;

// Core variables and mixins
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/variables";
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/normalize";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/print";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/scaffolding";
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/type";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/code";
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/grid";
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/tables";
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/forms";
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/buttons";

// Components
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/component-animations";
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/dropdowns";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/button-groups";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/input-groups";
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/navs";
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/navbar";
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/breadcrumbs";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/pagination";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/pager";
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/labels";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/badges";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/jumbotron";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/thumbnails";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/alerts";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/progress-bars";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/media";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/list-group";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/panels";
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/responsive-embed";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/wells";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/close";

// Components w/ JavaScript
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/modals";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/tooltip";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/popovers";
// @import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/carousel";

// Utility classes
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/utilities";
@import "vendor/bootstrap-sass/vendor/assets/stylesheets/bootstrap/responsive-utilities";

html {
    overflow-y: scroll;
    background: $sky url('../img/bg.jpg') no-repeat center center fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: transparent;
    font-size: 18px;
}

%transparentBackground {
    background: rgba(255,255,255,0.9);
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 20px;
    padding-right: 20px;
}

#wrapper {
    border: 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    > :first-child {
        border-bottom: 1px solid rgba(0,0,0,0.25);
    }
    > :last-child {
        border-top: 1px solid rgba(0,0,0,0.25);
    }
    @media (min-width: 768px) {
        border-radius: 6px;
        margin-top: 22px;
        margin-bottom: 22px;
        > :first-child {
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        > :last-child {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
}

@import "header";
@import "main";
@import "mailchimp";
@import "footer";
