<header class="navbar navbar-static-top" id="hd">

    <a class="navbar-brand" id="brand" href="/">{{ site.title }}</a>

    <nav id="primary-nav" class="navbar-right">
        <ul class="nav navbar-nav">
          {% for weight in (1..10) %}
            {% for page in site.pages %}
              {% if page.weight == weight and page.title != null %}
                <li><a class="page-link" href="{{page.url}}" title="{{page.title}}">{% if page.nav_title %}{{ page.nav_title }}{% else %}{{ page.title }}{% endif %}</a></li>
              {% endif %}
            {% endfor %}
          {% endfor %}

          {% for page in site.pages %}
            {% if page.weight == null and page.title != null %}
              <li><a class="page-link" href="{{page.url}}" title="{{page.title}}">{% if page.nav_title %}{{ page.nav_title }}{% else %}{{ page.title }}{% endif %}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
    </nav>

</header>
