<header class="navbar navbar-static-top" id="hd">

    <a class="navbar-brand" id="brand" href="{{ site.url }}">{{ site.title }}</a>

    <nav id="primary-nav" class="navbar-right">
        <ul class="nav navbar-nav">
        {% for page in site.pages %}
            <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}" title="{{ page.title }}">{% if page.nav_title %}{{ page.nav_title }}{% else %}{{ page.title }}{% endif %}</a></li>
        {% endfor %}
        </ul>
    </nav>

</header>
