.blog_index {
    h1 {
        display: none;
    }
    .posts {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            margin: 0 0 1.6em;
        }
    }
    h2 {
        margin: 0;
        font-size: $font-size-base*1.6;
    }
    .post-date {
        color: $gray;
    }
}
