#hd {
    @extend %transparentBackground;
    margin-bottom: 0;
}

#brand {
    @include hide-text;
    padding: 15px 0;
    width: 143px;
    height: 70px;
    background: url('../img/mark.png') no-repeat center center;
    .boxsizing & {
        height: 100px;
    }
    @include hidpi {
        background-image: url('../img/mark@2x.png');
        background-size: 143px 70px;
    }
}

#primary-nav {
    @media (max-width: $grid-float-breakpoint-max) {
        padding-top: 5em;
        text-align: center;
    }

    /* Same as from bootstrap, but nav DOM structure being used is a little different than expected,
       from bootstrap, so inject here */
    .navbar-nav {
        > li > a {
            color: $navbar-default-link-color;

            &:hover,
            &:focus {
                color: $navbar-default-link-hover-color;
                background-color: $navbar-default-link-hover-bg;
            }
        }
        > .active > a {
            &,
            &:hover,
            &:focus {
                color: $navbar-default-link-active-color;
                background-color: $navbar-default-link-active-bg;
            }
        }
        > .disabled > a {
            &,
            &:hover,
            &:focus {
                color: $navbar-default-link-disabled-color;
                background-color: $navbar-default-link-disabled-bg;
            }
        }
    }
}
